[user]
    email = tomeraberbach@gmail.com
    name = Tomer Aberbach
    signingKey = DFBA76D022524A53C21C5EAA6971AB3D54A7896D

[init]
    defaultBranch = main

[core]
    excludesfile = /home/tomer/.gitignore_global
