[core]
        autocrlf = input
[user]
        email = tomeraberbach@gmail.com
        name = Tomer Aberbach
        signingKey = DFBA76D022524A53C21C5EAA6971AB3D54A7896D
[commit]
        gpgSign = true
